##Menyimpan data hasil cleansing pada SQLITE3

In [18]:
#import library
import sqlite3
import pandas as pd

Connect to Database

In [7]:
conn = sqlite3.connect("C:\\Users\\LENOVO\\Documents\\Binar_DSC\\Python\\API\\challange_gold.db")
print ("Opened database successfully")

Opened database successfully

##Create table input

In [15]:
conn.execute('''
CREATE TABLE datacsv (
    tweet VARCHAR(13169) NOT NULL,
    HS INT,
    Abusive INT,
    HS_individual INT,
    HS_group INT,
    HS_religion INT,
    HS_race INT,
    HS_physical INT,
    HS_gender INT,
    HS_other INT,
    HS_weak INT,
    HS_moderate INT,
    HS_strong INT
);
''')

##Create table data output

In [16]:
conn.execute('''
CREATE TABLE data_after_process (
    tweet VARCHAR(13169) NOT NULL,
    HS INT,
    Abusive INT,
    HS_individual INT,
    HS_group INT,
    HS_religion INT,
    HS_race INT,
    HS_physical INT,
    HS_gender INT,
    HS_other INT,
    HS_weak INT,
    HS_moderate INT,
    HS_strong INT
);
''')

In [21]:
# read csv
df = pd.read_csv("data.csv", encoding="latin1")
df.head()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

##Insert data into table input and output

In [22]:
# insert data to sqlite3 file input (data.csv)
table_name = "datacsv"
df.to_sql(table_name,conn,if_exists='append',index=False)
conn.commit()

In [23]:
# show table file input (data.csv)
students = pd.read_sql_query('SELECT * FROM datacsv', conn)
students.head()

,tweet,HS,Abusive,HS_individual,HS_group,HS_religion,HS_race,HS_physical,HS_gender,HS_other,HS_weak,HS_moderate,HS_strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [24]:
# insert data to sqlite3 file output (data_afterpreprocessing.csv)
table_name = "data_after_process"
df.to_sql(table_name,conn,if_exists='append',index=False)
conn.commit()

In [25]:
# show table file output 
students = pd.read_sql_query('SELECT * FROM data_after_process', conn)
students.head()

,tweet,HS,Abusive,HS_individual,HS_group,HS_religion,HS_race,HS_physical,HS_gender,HS_other,HS_weak,HS_moderate,HS_strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [26]:
#melihat missing secara % di setiap kolom
df.isna().sum()/df.shape[0]

Tweet            0.0
HS               0.0
Abusive          0.0
HS_Individual    0.0
HS_Group         0.0
HS_Religion      0.0
HS_Race          0.0
HS_Physical      0.0
HS_Gender        0.0
HS_Other         0.0
HS_Weak          0.0
HS_Moderate      0.0
HS_Strong        0.0
dtype: float64